<% content_for(:page_header) do %>
  <h1>Saved searches</h1>
<% end %>

<div class='row pull-right'>
  <div class='col-sm-12'>
    <%= link_to 'Add', new_saved_search_path, class: "btn btn-primary" %>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <table class='table table-hover table-striped' id='saved_searches_table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Run every</th>
          <th>Last run at</th>
          <th>Next run at</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @saved_searches.each do |search| %>
          <tr>
            <td><%= search.name %></td>
            <td><%= formatted_interval(search)%></td>
            <td></td>
            <td></td>
            <td class='controls'>
              <%= link_to 'Edit', edit_saved_search_path(search) %>
            </td>
            <td class='controls'>
              <%= link_to 'Delete', search, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>